<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Документооборот</title>
    <meta name="description" content="Лабораторная работа на тему &quot;Документооборот склада&quot;">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    {% include 'includes/deal_script.html' %}
    {% include 'includes/report_script.html' %}
    {% include 'includes/add_partner_script.html' %}
    {% include 'includes/add_product_script.html' %}


    <script>
        var orig_partners_list = '{{params.partners | tojson }}';
        orig_partners_list = JSON.parse(orig_partners_list);

        var orig_products_list = '{{params.products | tojson }}';
        orig_products_list = JSON.parse(orig_products_list);

        var orig_deals_list = '{{params.deals | tojson }}';
        orig_deals_list = JSON.parse(orig_deals_list);

        function FillPartnerTable() {
            $("#partners_tbody").empty();
            for (let i = 0; i < orig_partners_list.length; i++) {
                let row = document.createElement("tr");
                let name = document.createElement("td");
                let surname = document.createElement("td");
                let patronymic = document.createElement("td");
                let company = document.createElement("td");
                name.innerHTML = orig_partners_list[i]['name'];
                surname.innerHTML = orig_partners_list[i]['surname'];
                patronymic.innerHTML = orig_partners_list[i]['patronymic'];
                company.innerHTML = orig_partners_list[i]['company'];
                row.append(name, surname, patronymic, company);
                document.getElementById("partners_tbody").appendChild(row);
            }
        }

        function FillProductTable() {
            $("#products_tbody").empty();
            for (let i = 0; i < orig_products_list.length; i++) {
                let row = document.createElement("tr");
                let name = document.createElement("td");
                let purchase_price = document.createElement("td");
                let selling_price = document.createElement("td");
                let stock = document.createElement("td");
                name.innerHTML = orig_products_list[i]['name'];
                purchase_price.innerHTML = orig_products_list[i]['purchase_price'];
                selling_price.innerHTML = orig_products_list[i]['selling_price'];
                stock.innerHTML = orig_products_list[i]['stock'];
                row.append(name, purchase_price, selling_price, stock);
                document.getElementById("products_tbody").appendChild(row);
            }
        }


        function FillDealsTable() {
            $("#deals_tbody").empty();
            for (let i = 0; i < orig_deals_list.length; i++) {
                let row = document.createElement("tr");
                let date = document.createElement("td");
                let deal_type = document.createElement("td");
                let partner = document.createElement("td");
                let products = document.createElement("td");
                let amount = document.createElement("td");
                date.innerHTML = orig_deals_list[i]['Дата'];
                deal_type.innerHTML = orig_deals_list[i]['Тип_сделки'];
                partner.innerHTML = orig_deals_list[i]['Партнер'];
                products.innerHTML = orig_deals_list[i]['Продукты_строка'];
                amount.innerHTML = orig_deals_list[i]['Общая_сумма_сделки'];
                row.append(date, deal_type, partner, products, amount);
                document.getElementById("deals_tbody").appendChild(row);
            }
        }
    </script>

</head>
<body id="page-top">
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h1 class="text-center text-dark">&nbsp; &nbsp; Документооборот</h1>
                <nav class="navbar navbar-light navbar-expand-md" style="padding: 0;">
                    <div class="container-fluid">
                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span
                                class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navcol-2">
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link active text-dark"
                                                                            data-toggle="modal"
                                                                            data-target="#deal_modal"
                                                                            style="line-height: 24px;font-size: 22px;">Оформить
                                    сделку</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-left text-dark"
                                                                            href="table.html"
                                                                            data-toggle="modal"
                                                                            data-target="#report_modal"
                                                                            style="font-size: 22px;line-height: 24px;">Сгенерировать
                                    отчет</a></li>
                                <li class="nav-item" role="presentation"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="row" style="margin-right: 0;margin-left: 0;padding: 10px;height: 134px;">
                    <div class="col-md-6 col-xl-3 mb-4" style="padding: 0;">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>выручка за месяц</span>
                                        </div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{params.month_profit }} РУБЛЕЙ</span>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>выручка за всё время</span>
                                        </div>
                                        <div class="text-dark font-weight-bold h5 mb-0">
                                            <span>{{params.profit }} РУБЛЕЙ</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Контрагенты</h4>
                                <div class="btn-group" role="group"></div>
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#add_partner_modal">+
                                </button>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Отчество</th>
                                            <th>Компания</th>
                                        </tr>
                                        </thead>
                                        <tbody id="partners_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Продукты</h4>
                                <div class="btn-group" role="group"></div>
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#add_product_modal">+
                                </button>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Цена продажи</th>
                                            <th>Цена покупки</th>
                                            <th>Склад</th>
                                        </tr>
                                        </thead>
                                        <tbody id="products_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Совершенные сделки</h4>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Тип сделки</th>
                                            <th>Контрагент</th>
                                            <th>Продукты</th>
                                            <th>Сумма сделки</th>
                                        </tr>
                                        </thead>
                                        <tbody id="deals_tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Документооборот 2019</span>
                </div>
            </div>
        </footer>
    </div>

    <!--    Модальное окно "Оформление сделки"-->
    {% include 'includes/deal.html' %}

    <!--    Модальное окно "Генерация отчета"-->
    {% include 'includes/report.html' %}

    <!--    Модальное окно "Добавление нового контрагента"-->
    {% include 'includes/add_partner.html' %}

    <!--    Модальное окно "Добавление нового продукта"-->
    {% include 'includes/add_product.html' %}

    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i
            class="fas fa-angle-up"></i></a></div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="../static/js/theme.js"></script>
<script>
    FillPartnerTable();
    FillProductTable();
    FillDealsTable();
</script>
</body>
</html>