<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Документооборот</title>
    <meta name="description" content="Лабораторная работа на тему &quot;Документооборот склада&quot;">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">

    <script>
        let product_list = [];
        let partner;
        let deal_type;
        let deal_info = {};

        function InitializeParams() {
            product_list = [];
            partner = '';
            deal_type = '';
            deal_info = {}
        }


        function GetDealParams() {
            partner = document.getElementById("partner_select");
            partner = partner.options[partner.selectedIndex].value;
            deal_type = $(document.getElementById("deal_type_select")).val();
            deal_info['Партнер'] = partner;
            deal_info['Список продуктов'] = product_list;
            deal_info['Тип сделки'] = deal_type;
        }

        function AddProduct() {
            let products_in_table = [];
            let product = document.getElementById("product_select");
            product = product.options[product.selectedIndex].value;
            let count = $(document.getElementById("product_count")).val();
            for (let i = 0; i < product_list.length; i++) {
                products_in_table.push(product_list[i].product)
            }
            if (products_in_table.indexOf(product) >= 0) {
                product_list[products_in_table.indexOf(product)].count = count
            } else {
                product_list.push({"product": product, "count": count});
            }

            $("#rows").empty();

            for (let i = 0; i < product_list.length; i++) {
                let row = document.createElement("tr");
                let product_cell = document.createElement("td");
                let count_cell = document.createElement("td");
                product_cell.innerHTML = product_list[i].product;
                count_cell.innerHTML = product_list[i].count;
                row.append(product_cell);
                row.append(count_cell);
                document.getElementById("rows").appendChild(row);
            }
        }


        function alertObject(obj) {
            for (let key in obj) {
                alert('key: ' + key + '\n' + 'value: ' + obj[key]);
                if (typeof obj[key] === 'object') {
                    alertObject(obj[key]);
                }
            }
        }

        function selectElement(id, valueToSelect) {
            let element = document.getElementById(id);
            element.value = valueToSelect;
        }

        function DealRequest() {
            GetDealParams();
            let xhr = new XMLHttpRequest();
            let url = "http://localhost:8081/deal";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            let data = JSON.stringify(deal_info);
            xhr.send(data);

            ClearModal()
        }

        function ClearModal() {
            selectElement("product_select", "Выберите продукт");
            selectElement("partner_select", "Выберите контрагента");
            selectElement("deal_type_select", "Выберите тип сделки");
            selectElement("product_count", "");
            $("#rows").empty();
        }
    </script>

    <script>
        let date_start = new Date();
        let date_end = new Date();
        let partner_company = '';
        let report_info = {};


        function InitializeParamsReport() {
            date_start = new Date();
            date_end = new Date();
            partner_company = '';
            report_info = {};
        }


        function ClearReportModal() {
            selectElement("datepicker_start", "");
            selectElement("datepicker_end", "");
            selectElement("partner_select_report", "Выберите контрагента");
        }


        function GetReportParams() {

            date_start = new Date($('#datepicker_start').val());
            var day = date_start.getDate();
            var month = date_start.getMonth() + 1;
            var year = date_start.getFullYear();
            date_start = year + '-' + month + '-' + day;

            date_end = new Date($('#datepicker_end').val());
            day = date_end.getDate();
            month = date_end.getMonth() + 1;
            year = date_end.getFullYear();
            date_end = year + '-' + month + '-' + day;

            partner_company = document.getElementById("partner_select_report");
            partner_company = partner_company.options[partner_company.selectedIndex].value;
            report_info['Дата начала'] = date_start;
            report_info['Дата конца'] = date_end;
            report_info['Компания'] = partner_company;
        }

        function ReportRequest() {
            GetReportParams();
            if (new Date(date_start) - new Date(date_end) > 0) {
                alert("Даты введены неверно");
                return;
            }


            let xhr = new XMLHttpRequest();
            let url = "http://localhost:8081/report";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            let data = JSON.stringify(report_info);
            xhr.send(data);

            ClearReportModal()
        }
    </script>

</head>

<body id="page-top">
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <h1 class="text-center text-dark">&nbsp; &nbsp;Продуктовый склад</h1>
                <nav class="navbar navbar-light navbar-expand-md" style="padding: 0;">
                    <div class="container-fluid">
                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span
                                class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navcol-2">
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link active text-dark"
                                                                            data-toggle="modal"
                                                                            data-target="#DealRegModal"
                                                                            onclick="InitializeParams()"
                                                                            style="line-height: 24px;font-size: 22px;">Оформить
                                    сделку</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-left text-dark"
                                                                            href="table.html"
                                                                            data-toggle="modal"
                                                                            data-target="#ReportGenModal"
                                                                            onclick="InitializeParamsReport()"
                                                                            style="font-size: 22px;line-height: 24px;">Сгенерировать
                                    отчет</a></li>
                                <li class="nav-item" role="presentation"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="row" style="margin-right: 0;margin-left: 0;padding: 10px;height: 134px;">
                    <div class="col-md-6 col-xl-3 mb-4" style="padding: 0;">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>выручка за месяц</span>
                                        </div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>{{params.month_profit }} РУБЛЕЙ</span>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>выручка за всё время</span>
                                        </div>
                                        <div class="text-dark font-weight-bold h5 mb-0">
                                            <span>{{params.profit }} РУБЛЕЙ</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Контрагенты</h4>
                                <div class="btn-group" role="group"></div>
                                <button class="btn btn-primary" type="button">+</button>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Отчество</th>
                                            <th>Компания</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for partner in params.partners %}
                                        <tr>
                                            <td>{{ partner.name }}</td>
                                            <td>{{ partner.surname }}</td>
                                            <td>{{ partner.patronymic }}</td>
                                            <td>{{ partner.company }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Продукты</h4>
                                <div class="btn-group" role="group"></div>
                                <button class="btn btn-primary" type="button">+</button>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Цена продажи</th>
                                            <th>Цена покупки</th>
                                            <th>Склад</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in params.products %}
                                        <tr>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.purchase_price }}</td>
                                            <td>{{ product.selling_price }}</td>
                                            <td>{{ product.stock }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Совершенные сделки</h4>
                                <div class="table-responsive table-bordered">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Тип сделки</th>
                                            <th>Контрагент</th>
                                            <th>Продукты</th>
                                            <th>Сумма сделки</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for deal in params.deals %}
                                        <tr>
                                            <td>{{ deal.Дата }}</td>
                                            <td>{{ deal.Тип_сделки }}</td>
                                            <td>{{ deal.Партнер }}</td>
                                            <td>{{ deal.Продукты_строка }}</td>
                                            <td>{{ deal.Общая_сумма_сделки }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Документооборот 2019</span>
                </div>
            </div>
        </footer>
    </div>


    <!--    Модальное окно "Оформление сделки"-->
    <div class="modal fade" id="DealRegModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Оформление сделки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select style="margin-bottom: 10px" id="deal_type_select"
                            class="browser-default custom-select">
                        <option selected>Выберите тип сделки</option>
                        <option value="Покупка">Покупка</option>
                        <option value="Продажа">Продажа</option>
                    </select>

                    <select style="margin-bottom: 10px" id="partner_select"
                            class="browser-default custom-select">
                        <option selected>Выберите контрагента</option>
                        {% for partner in params.partners %}
                        <option value={{partner.company}}>{{partner.company }}</option>
                        {% endfor %}
                    </select>


                    <div style="margin-bottom: 10px" class="row">
                        <div class="col">
                            <select style="width: 44%; margin-right: 2%" id="product_select"
                                    class="browser-default custom-select">
                                <option selected>Выберите продукт</option>
                                {% for product in params.products %}
                                <option value={{product.name}}>{{product.name }}</option>
                                {% endfor %}
                            </select>
                            <input style="width: 44%; height: 38px; margin-right: 2%" id="product_count"
                                   type="text"
                                   class="border rounded"
                                   placeholder="Введите количество"/>
                            <button style="width: 6%; height: 38px; padding: 0;" class="btn btn-primary"
                                    type="button"
                                    onclick="AddProduct()">
                                OK
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Выбранные продукты</h4>
                                    <div class="table-responsive table-bordered">
                                        <table id="product_select_table" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Продукт</th>
                                                <th>Количество</th>
                                            </tr>
                                            </thead>
                                            <tbody id="rows">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="ClearModal()">
                        Отмена
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="DealRequest()">
                        Оформить
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!--    Модальное окно "Генерация отчета"-->
    <div class="modal fade" id="ReportGenModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Генерация отчета</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <label style="font-size: small">Дата начала</label>
                            <input id="datepicker_start" type="date"/></div>
                        <div class="col">
                            <label style="font-size: small">Дата конца</label>
                            <input id="datepicker_end" type="date"/></div>
                        <div class="col">
                            <label style="font-size: small">Компания</label>
                            <select id="partner_select_report">
                                <option selected>Выберите контрагента</option>
                                {% for partner in params.partners %}
                                <option value={{partner.company}}>{{partner.company }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="ClearReportModal()">
                        Отмена
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="ReportRequest()">
                        Сгенерировать
                    </button>
                </div>
            </div>
        </div>
    </div>

    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i
            class="fas fa-angle-up"></i></a></div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="../static/js/theme.js"></script>


</body>

</html>